.name {
    margin: 0;
    margin-top: 10px;
    font-size: 1.1em;
}

.username{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 1em;
}

.description {
    margin: 0px;
    margin-bottom: 5px;
    color: rgb(149, 149, 149);
    font-size: 0.9em;
}

.buttons {
    padding-top: 10px;
    width: 90vw;
    margin: auto;
}

.rangoEdad {
    width: 90vw;
    margin: auto;
    padding: 20px 0 20px 0;
}