<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EXAMEN 01 IONIC 2020
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-center">
  <ion-button (click)="goEx1()" shape="round" size="full">
    EJERCICIO 01
  </ion-button>
  <ion-button (click)="goEx2()" shape="round" size="full">
    EJERCICIO 02
  </ion-button>
  <ion-button (click)="goEx3()" shape="round" size="full">
    EJERCICIO 03
  </ion-button>
  <ion-button (click)="goEx4()" shape="round" size="full">
    EJERCICIO 04
  </ion-button>
</ion-content>